@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-style: normal;
list-style: none;
text-decoration: none;
}

.app{
background:#fff;
border-radius: 16px ;
box-shadow: 0 0 20px rgb(0 0 0 / 8%);
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items:center;
margin: 100px auto 0;
width: 900px;
min-height: 600px;
flex-direction: column;

}
.nbar ul{
display: flex;  
align-items: center;
height: 100%;
gap: 50px;
margin-left: 50px;
font-size: 18px;
font-weight: 600;
cursor: pointer;
color: #333846;
}
.nbar ul li::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #333846;
transition: width .5s;
}
.nbar ul li:hover::after {
width: 100%;
background: #007fff;
}
.nbar ul li:hover{
color: #007fff;  
}
.listWrapper{
display: flex;
gap: 33px;
justify-content: space-between;
width: 90% !important;
flex-direction: row !important;
align-items: start !important;
}
.dashboardID{
padding: 30px;
}
.dashboardID .backBtn{
position: fixed;
top: 70px;
left: 70px;
display: flex;
align-items: center;
font-size: 18px;
font-weight: 500;
cursor: pointer;
width: 100px;
gap: 12px;
padding: 6px 4px;
border-radius: 4px;
}
.dashboardID h1{
margin: -15px 0 5px 0px;
font-size: 24px;
font-weight: 700;
color: #333846;
}
.app1{
background: url(.//image/front-left-side-47.webp) no-repeat right bottom #fff;
border-radius: 16px;
font-family: 'Courier New', Courier, monospace;
display: flex;
padding: 30px;
justify-content: start;
align-items:start;
width: 900px;
min-height: 600px;
flex-direction: column;
}

/* not Found Page */

/*======================
404 page
=======================*/





/* not Found Page Ends */
.redbtns button{
color: #fff;
width: 200px;
justify-content:center;
background: #f34653;
}
.redbtns button:hover{
color: #fff !important;
}
.insuranceLogo{
width: 240px;
height: 70px;
background: #fff;
position: fixed;
left:0px;
top:0px;
z-index: 9;
width:100% ;
box-shadow: 0 0 20px rgb(0 0 0 / 8%);
display: flex;
align-items: center;
padding-left: 30px;
gap: 15%;
}
.red{background-color: #eb6b75;}
.wrapper{
width: auto;
padding: 0;
}
.bold-600{
font-weight: 600;
}
.button{
font-size: 15px;
height: 44px;
box-shadow: 0 8px 8px rgb(243 70 83 / 20%);
border-radius: 8px;
line-height: 1;
max-width: unset;
background: #f34653;
color: #fff;
border: aliceblue;
cursor: pointer;
padding: 15px;
}
.disable{
opacity: .3;
background: hsla(0,0%,100%,.5);
width: 100%;
pointer-events: none;
z-index: 9;
}
.pad-5{padding: 5px;}
.pad-10{padding: 10px;}
.pad-15{padding: 15px;}
.pad-20{padding: 20px;}

.mar-5{margin: 5px;}
.mar-10{margin: 10px;}
.mar-15{margin: 15px;}
.mar-20{margin: 20px;}

.pad-LR5{padding: 0px 5px;}
.pad-LR10{padding: 0px 10px;}
.pad-LR15{padding: 0px 15px;}
.pad-LR20{padding: 0px 20px;}

.pad-TB5{padding: 5px 0px;}
.pad-TB10{padding: 10px 0px;}
.pad-TB15{padding: 15px 0px;}
.pad-TB20{padding: 20px 0px;}

.pad-T5{padding-top: 5px;}
.pad-T10{padding-top: 10px;}
.pad-T15{padding-top: 15px;}
.pad-T20{padding-top: 20px;}

.pad-B5{padding-bottom: 5px;}
.pad-B10{padding-bottom: 10px;}
.pad-B15{padding-bottom: 15px;}
.pad-B20{padding-bottom: 20px;}

.pad-L5{padding-left: 5px;}
.pad-L10{padding-left: 10px;}
.pad-L15{padding-left: 15px;}
.pad-L20{padding-left: 20px;}

.pad-R5{padding-right: 5px;}
.pad-R10{padding-right: 10px;}
.pad-R15{padding-right: 15px;}
.pad-R20{padding-right: 20px;}

.mar-T5{margin-top: 5px;}
.mar-T10{margin-top: 10px;}
.mar-T15{margin-top: 15px;}
.mar-T20{margin-top: 20px;}

.mar-B5{margin-bottom: 5px;}
.mar-B10{margin-bottom: 10px;}
.mar-B15{margin-bottom: 15px;}
.mar-B20{margin-bottom: 20px;}

.mar-L5{margin-left: 5px;}
.mar-L10{margin-left: 10px;}
.mar-L15{margin-left: 15px;}
.mar-L20{margin-left: 20px;}

.mar-R5{margin-right: 5px;}
.mar-R10{margin-right: 10px;}
.mar-R15{margin-right: 15px;}
.mar-R20{margin-right: 20px;}

.df-jc{
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
}

.insurDirectDetail{
display: inline-block;
width: 367px;
vertical-align: top;
}
.card{
border: 1px solid rgba(51,56,70,.1);
border-radius: 20px;
padding: 20px;
}
.covergrp{
color: #333846;
margin-top: 16px;
font-size: 15px;
border-bottom: 1px solid rgba(51,56,70,.1);
display: flex;
flex-direction: column;
gap: 6px;
}
.invlogo{
display: inline-flex;
}
.brandLogo{
display: inline-block;
width: 48px;
height: 48px;
margin-right: 16px;
border-radius: 12px;
overflow: hidden;
}
.brandLogo{
width: 48px;
height: 48px;
margin-right: 16px;
border-radius: 12px;
overflow: hidden;
}
.bold{
font-weight: 800;
}
.homeContentmain {
display: flex;
justify-content: space-between;
}
.home{
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
margin-top: 15px;
}

.insurStatus h2{
  color: #333846;
  font-size: 24px;
  font-weight: 600;
}
.insuranceStatusBox{
 display: flex;
 justify-content: start;
 padding-top: 20px;
}
.insurStatus ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 10px;
}
.insurStatus ul li{
  list-style:disc;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color:#333846 ; 
 }

/* CSS */
.button-6 {
width: 100%;  
align-items: center;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: .25rem;
box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
box-sizing: border-box;
color: #333846;
cursor: pointer;
display: inline-flex;
/* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
font-size: 16px;
font-weight: 600;
justify-content: start;
line-height: 1.25;
margin: 0;
min-height: 3rem;
padding: calc(.875rem - 1px) calc(1.5rem - 1px);
position: relative;
text-decoration: none;
transition: all 250ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
}

.button-6:hover
{
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
color:#f34653;
}
/* 
.button-6:hover {
transform: translateY(-1px);
} */

.button-6:active {
background-color: #F0F0F1;
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
color: rgba(0, 0, 0, 0.65);
transform: translateY(0);
}
.line{
padding: 1px;
background-color: #e7e7e7;
margin: 10px 0px;
}

/* ------------------------ loader start ------------------------ */

.lds-ellipsis {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: rgb(44, 44, 44);
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
transform: scale(0);
}
100% {
transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
transform: scale(1);
}
100% {
transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
transform: translate(0, 0);
}
100% {
transform: translate(24px, 0);
}
}


/* ------------------------ loader ends ------------------------ */
.fullpagemain{

}

.fullpage{
width: 100vw;
height: 100vh;
}


/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
/* background-color: #fefefe; */

padding: 10px 20px;
/*border: 1px solid #888;
width: 30%; 
height: 30%; */
border-radius: 10px;
display: flex;
justify-content: center;
align-items:start;
opacity: 100%;
width: 33%;
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* The Modal (ends) */

.df{ display: flex;}
.modalInputMianDiv{
text-align: center;
}
.inputDiv{
padding: 10px;
/* margin: 10px auto; */
width: 100%;
/*border: 1px solid #e0e0e0;*/
}
.inputDiv input{
border: navajowhite;
width: 100%;
height: 35px;
font-size: 13px;
color: #4f4e4e;
text-align: left;
text-transform: none;
padding: 0 10px;
}
.inputDiv input:focus{
border: 1px solid #4f4e4e;  
outline: none;  
}

.SearchBlock{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.SearchBlock .modal-content{
/* width: 100vw;
width: 100vh; */
}

.SearchBlock .modal-content .date{
padding: 10px;
display: flex;
justify-content: center;
border: 1px solid #e6e6e6;
padding: 10px;
border-radius: 5px;
gap: 10px;
}
.dateRange h2, .dateRange p{
color: #333846;   
}
.dateLine{
display: flex !important;
justify-content: space-between !important;
align-items: start !important;
width: 100% !important;
margin: 10px 0;
gap: 10px;
}
.dateLine select{
border: 1px solid #e6e6e6;
padding: 10px;
border-radius: 5px;
background: #fff;
width: 150px;
}

.dateRange p{
font-size: 16px !important;
}
.SearchBlock .modal-content .date .dateLine input{
padding-left: 10px;
margin-left: 10px;

}
.SearchBlock .modal-content .lastdata{
display: flex;
flex-direction: column;
padding: 10px 0px;
}
.SearchBlock .modal-content .lastdata span{
padding-bottom: 10px;
}


/* dropdown */

a {
color: white;
background-color:#990;
text-decoration: none;
}
nav{
background: #333;
}
nav >ul{ margin: 0 auto; width: 80px; }
nav ul li{
display: block;
float: left;
margin-left:-40px;
position: relative;
}
nav ul a{
display: block;
float: left;
width: 150px;
padding: 10px 20px;
}
nav ul a:hover{
background: #090;
}
nav ul li ul li{
float: none;
}
nav ul li ul{
display: none;
position: absolute;
background: #333;
top: 42px;
}
nav ul li:hover>ul{
display: block;
}
nav ul li a{
display: block;
}
.gfg {
font-size:40px;
font-weight:bold;
color:#009900;
Text-align:center;
}
p {
font-size:20px;
font-weight:bold;
text-align:center;
}

/* dropdown Ends */


.df-jsb{
display: flex;
justify-content: space-between;
}
.top .left{
width: 50%;
}
.top .left .leftinner{
display: flex;
flex-direction: column;
align-items: baseline;
padding: 10px;
margin: 10px;

border: 1px solid #c9c7c7;
border-radius: 10px;
}
.top .left .leftinner span{ 
font-weight: 800;
padding-left: 20px;
}
.top .right{

}
.ai-c{align-items: center;}
.searchBlockWrapper{
margin-top: 0px;
}
.searchBlockBox{
flex-direction: row !important;  
gap: 18px;
margin-top: 15px;
}
.searchBlockBox .searchId,  .searchBlockBox .uploadId {
height: 250px;
}
.searchBlockBox .searchId{
justify-content: start !important;
}
.upload{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #f5faff;
border: 2px dashed #99ccff;
}
.dateUpload{
width: 100% !important;
margin: 0 !important;
margin-top: 16px !important;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between !important;
}
.uploadId h2{
color: #333846;
font-size: 20px;
margin-left: 15px;
text-align: center;
}
.searchId p{
margin-bottom: 10px;
color: #333846; 
}
.Dashboardmiddle{
padding: 10px;
/* margin: 10px; */
border: 1px solid #e4e4e4;
border-radius: 10px;
width: 100%;
color: #333846;
}
.Dashboardmiddle .box-con{
display: flex;
flex-wrap: wrap;
align-items: end;
justify-content: center;

}
.Dashboardmiddle .box-con .mainBox{
width: 30%;
}
.dashboardHeading{
color: #333846;
}
.tileBox{
padding: 10px;
margin: 10px;
text-align: center;
box-shadow: 0 6px 12px 0 rgb(51 56 70 / 10%);
cursor: pointer;
background:#fff;
border-radius: 8px;
}
.tileBox:hover{
box-shadow: 0 6px 12px 0 rgba(202, 101, 101, 0.219);  
}

.box{
padding: 10px;
margin: 10px;
font-size: 30px;
background-color: #dbe9f5;
border-radius: 5px;
}
.Dashboardend{
font-size: 16px;
font-weight: 600;
color: #333846;
}
.border-none{
border: none;
}
.inputDoc{
  margin: 10px auto;
}
.green.currentmonth{
background: #f34653;
color: #fff;
border: 0;
}
.green{
background-color: #fff;
border: 2px solid #e4e4e4;

}
.bottom h2 span{
text-align: end;
font-size: 15px;
}
.bottom .head{
align-items:start;
justify-content: start;
font-size: 16px;
font-weight: 600;
}
.redBG{
background-color: #fff;
border: 2px solid rgb(0 0 0 / 10%);
color: #333846;
width: 200px;
justify-content: center;
margin-top: -15px;
}
.redBG:hover{ color: #f34653;
box-shadow: 0  4px 20px rgb(0 0 0 / 10%);
}
.upload{
/*border: 1px solid black;*/
border-radius: 10px;
margin: 10px auto;
padding: 20px ;
width: 90%;
}
.noData{
  background: url(../src/image/nodata.svg) no-repeat center #fff;
  width:600px;
  height: 425px;
  /* border: 1px solid #333846; */
  box-shadow: 0 6px 12px 0 rgb(51 56 70 / 10%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:110px 50px;
  background-size: 100%;
  }
.upload input{
border: 1px solid #e6e6e6;
padding: 10px;
border-radius: 5px;
background: #fff;
}
.mainUser .lower .lineUser .left, .mainUser .lower .lineUser .right{
  width: 200px;
}
.mainUser .lower{
margin-left: 70px;  
}
.myModalUserdata{

}
.mainUser{

}
.mainUser .lower{

}
.modalCenter{

}
.mainUser .lower .lineUser{
padding: 5px;
margin: 5px;
display: flex;
align-items: center;
justify-content: space-between;
}

.mainUser .lower .lineUser .left{

}
.mainUser .lower .lineUser .right{
font-weight: 800;
padding-left: 30px;
}

.warning{
font-style: italic;
/* color: blue; */
background: #fdfdb6;
padding: 5px 15px;
}
.center{
text-align: center;
}


/* -------------------------table  */

#customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
border-radius: 8px;
border-style: hidden;
margin-bottom: 50px;
}
table tr:last-child td:first-child {
border-bottom-left-radius: 16px;
}

table tr:last-child td:last-child {
border-bottom-right-radius: 16px;
}

table tr:first-child th:first-child {
border-top-left-radius: 16px;
}
table tr:first-child {
border-top-left-radius: 16px;
}
table tr:first-child th:last-child {
border-top-right-radius: 16px;
}



#customers td, #customers th {
border: 1px solid #ddd;
padding: 8px;
font-size: 12px;
}
#customers tr:nth-child(even){background-color: #c1d3d4;}

#customers tr:hover {background-color: #608285; color: #fff;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #373b2d;
color: white;
}
.nav-head-main{
text-align: left;
font-size: 24px;
font-weight: 700;
/* padding:0 20px; */
color: #333846;
margin-top: -24px;
}
/*
.dash-head{
background-color: #7de7bb;
padding: 40px;
}
*/
/* =========== end table-------------- */
